<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Notes</title>
  <link rel="stylesheet" type="text/css" href="/css/style.x57861.css"/>
</head>
<body>
<h1>Notes</h1>
<h3>Accounts</h3>
<form action="/add" method="post">
  <table border="1px">
    <tr>
      <td>
        <label>Login</label>
        <input type="text" name="login">
      </td>

      <td>
        <input type="submit" value="add Account">
      </td>

    </tr>

  </table>
</form>
<br>
<h2>Account list</h2>
<table border="1px">
  <tr th:each="user : ${usersList}">
    <td><span th:text="${user.id}"> Id </span></td>
    <td><span th:text="${user.login}"> Login </span></td>
    <!--<td><a href="${'/delete/'+user.id}">Delete</a></td>-->
  </tr>
</table>
<a href="/main">Your notes</a>
</body>
</html>